body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f4f4f4;
  }
  
  .titulo h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 48px;
    color: #333;
  }
  
  h2 {
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
    color: #555;
  }
  
  .text {
    width: 250px;
    height: 35px;
    font-size: 16px;
    padding: 5px;
    margin-top: 20px;
  }
  
  select {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    width: 250px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    width: 200px;
    background-color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 10%;
  }
  
  .product:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .product h3 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
  }
  
  .product p {
    font-size: 14px;
    color: #777;
  }
  
  .product a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
  }
  
  .product a:hover {
    text-decoration: underline;
  }
  .product-image {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  
  .hidden-category {
    display: none;
  }
  .estrela {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    z-index: 1;
    transition: color 0.3s;
  }
  
  .estrela.favorito {
    color: gold;
  }
  
  .product {
    position: relative;
  }
  .favoritos-link, .voltar-link {
    position: absolute;
    top: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: white;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
    z-index: 10;
  }
  
  .favoritos-link:hover, .voltar-link:hover {
    background-color: #eee;
  }
  
  .favoritos-link {
    right: 10px;
  }
  
  .voltar-link {
    left: 10px;
  }
  
  